package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.chris.commons.result.PageInfo;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	 public void selectDataGrid(PageInfo pageInfo);
}
